/* App Container */
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Game Board */
.game-board {
  margin-right: 20px;
}

/* Status Display */
.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Individual Squares */
.square {
  font-size: 32px;
  width: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  border: 1px solid #999;
  float: left;
}

/* List of Moves */
.game-info {
  font-size: 18px;
}

.game-info ol {
  padding-left: 20px;
}

.game-info button {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 5px;
}

.game-info button:hover {
  color: blue;
}